.idea
.vs
[Bb]in
[Ll]ibrary
[Tt]emp
[Ll]ogs
[Oo]bj
[Bb]undles
StreamingAssets
UserSettings
UIElementsSchema
yoo
*_Build

Assets/Plugins


*.DotSettings.user
*.sln
*.suo
*.csproj
*.unityproj
*.vsconfig
*.~$lock
*.DS_Store
*.bak

//启动场景设置
!Library/LastSceneManagerSetup.txt