.idea
.vs
[Bb]in
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
UserSettings/
*_Build/

*.sln
*.suo
*.csproj
*.unityproj
*.vsconfig
*.~$lock
*.DS_Store
*.bak
*.meta

//启动场景设置
!Library/LastSceneManagerSetup.txt